 <div class="row">
  <div class="span section-title">
    Recent Projects
  </div>

  <div class="span section-body">

   <div class="clearfix">
    <div class="row">
      <div class="span">
        <div class="item-name">Dental_Admin (Private Repository)</div>
      </div>
      <div class="item-period pull-right span">May 2014 - Present</div>
    </div>
    <div class="margin-top-10">
      <ul>
        <li>Application provides the foundation for medical practices to develop a web platform quickly</li>
        <li>Created a CMS/admin system with Dragonfly for image management, Devise for security</li>
        <li>Provides customizable patient management, registration and database admin system 'out of the box'</li>
        <li>Drastically cuts development and admin costs for small dental practices</li>
        <li>Wrote a full proposal and created a software project blueprint before development</li>
        <div class="item-desc">Technologies Used: Rails 3.2, Git, Javascript (jQuery, AJAX), SCSS, SQL; ActiveAdmin, Active Record, Backstretch, Bootstraps, Chosen, Datepicker, Devise, Dragonfly, High_Voltage, Squeel, Time Libraries</div>
      </ul>
    </div>
  </div>

  <div class="inner-seperator"></div>

  <div class="clearfix">
    <div class="row">
      <div class="span">
        <div class="item-name"><%= link_to "Alta Waterproofing, LLC","https://bitbucket.org/rkelley/alta-july"%></div>
      </div>
      <div class="item-period pull-right span">February 2014 - July 2014</div>
    </div>
    <div class="margin-top-10">
      <ul>
        <li>
          Contracted as lead content and application developer of new Alta corporate website
        </li>
        <li>
          Guided clients from concept design to execution of application development to final deployment
        </li>
        <li>
          Created engaging, navigable user experiences with interactive content and 100% responsive design
        </li>
        <li>
          Created and used a demo site as planning tool to help clients identify goals and preferences
        </li>
        <li>
          Wrote client and server-side form validations that provide immediate, specific feedback to users
        </li>
        <div class="item-desc">Technologies Used: Rails 4, ActionMailer, Bootstraps, <%= link_to "CMS", "https://github.com/comfy/comfortable-mexican-sofa" %>, CSS3, Figaro, Git, Javascript (jQuery and AJAX), Google Maps API, High_Voltage, Regular Expressions</div>
      </ul>
    </div>
  </div>

  <div class="inner-seperator"></div>

  <div class="clearfix">
    <div class="row">
      <div class="span">
        <div class="item-name"><%= link_to "SHP Photography","https://github.com/rskelley9/PhotoWebsite" %></div>
      </div>
      <div class="item-period pull-right span">April 2014 - June 2014</div>
    </div>
    <div class="margin-top-10">
      <ul>
        <li>Contracted developer of commercial photographer's portfolio and booking website</li>
        <li>Created a CMS/admin system with Dragonfly for image management, Devise for security</li>
        <li>Designed attractive interface with a focus on optimal user experience</li>
        <li>Highly DRY, modular app with most of the custom elements housed in partials</li>
        <li>Wrote a full proposal and created a software project blueprint before development</li>
        <div class="item-desc">Technologies Used: Rails 3.2, CSS3 & Sass, Javascript (jQuery, AJAX), Git, Heroku; ActiveAdmin, Backstretch, Devise, Dragonfly, GrokPhoto, Image_Magick, Simple_Form</div>
      </ul>
    </div>
  </div>

  <div class="inner-seperator"></div>

  <div class="clearfix">
    <div class="row">
      <div class="span">
        <div class="item-name"><%= link_to "FreeSwim.co","https://www.freeswim.co/"%></div>
      </div>
      <div class="item-period pull-right span">April 2014 - June 2014</div>
    </div>
    <div class="margin-top-10">
      <ul>
        <li>Developed a custom blog content management system for FreeSwim.co</li>
        <li>Helped develop user and admin interfaces, convert static site to dynamic application</li>
        <li>Deployed and configured application for production environment and added SSL security</li>
        <li>Responsible for procuring marketing affiliates and developing engaging blog content</li>
        <div class="item-desc">Technologies Used: Rails 3.2, CSS3, Git, Javascript (jQuery, AJAX), Heroku; CarrierWave, CK_Editor, Devise, Monologue Blog Engine, OAuth, SSL</div>
      </ul>
    </div>
  </div>

  <div class="inner-seperator"></div>

  <div class="clearfix">
    <div class="row">
      <div class="span">
        <div class="item-name"><%= link_to "Pupular","https://github.com/eisenachalex/pupular/tree/image_uploads"%></div>
      </div>
      <div class="item-period pull-right span">April 2014 - June 2014</div>
    </div>
    <div class="margin-top-10">
      <ul>
        <li>Added image-upload and processing features to social networking application</li>
        <li>Helping develop user system and intuitive interface for profile management</li>
        <li>Implementing behavior-driven development with latest version of application</li>
        <div class="item-desc">Technologies Used: Rails 3.2, Git, Javascript (jQuery, AJAX), XML Schema Designer; ActiveAdmin, Active Record, Amazon S3, Cucumber, Devise, Dragonfly, ImageMagick, Paperclip, Rack::Cache</div>
      </ul>
    </div>
  </div>

  <div class="inner-seperator"></div>

  <div class="clearfix">
    <div class="row">
      <div class="span">
        <div class="item-name"><%= link_to "Karma Grove","https://github.com/joshuamantras/karmagrove"%></div>
      </div>
      <div class="item-period pull-right span">November 2013 - January 2014</div>
    </div>
    <div class="margin-top-10">
      <ul>
        <li>Second lead developer and major contributor of charitable marketplace proof-of-concept application</li>
        <li>Wrote software directing sales profit to environmental charities selected by consumer and producer</li>
        <li>Designed user interface and authored About page content</li>
        <div class="item-desc">Technologies Used: Ruby on Rails, Javascript (jQuery, AJAX), Active Admin, Bootstraps, Devise, Factory Girl,  Git, Heroku, OAuth, Pivotal Tracker, RSpec, Stripe</div>
      </ul>
    </div>
  </div>

  <div class="inner-seperator"></div>


  <div class="clearfix">
    <div class="row">
      <div class="span">
        <div class="item-name"><%= link_to "SmartGroups", "https://github.com/zrivest/smart_groups" %></div>
      </div>
      <div class="item-period pull-right span">November 2013</div>
    </div>
    <div class="margin-top-10">
      <ul>
        <li>Teacher toolkit application: uploads CSV grade books and offers array of useful functions</li>
        <li>Interactive graphs (High Charts) for tracking student performance over time, vs. peers, vs. class</li>
        <li>Intelligent group generator with algorithms for GPA dispersion, participation rate dispersion</li>
        <li>Designed workflow to deal with strict, high-pressure deadline</li>
        <li>Formal presentation to audience of representatives from Chicago-area tech companies</li>
        <div class="item-desc">Technologies Used: Ruby on Rails, AJAX, CSV, Git, jQuery, OpenURI, Rspec, Trello; Bcrypt, Bootstraps, HighCharts Trello, Git, Heroku</div>
      </ul>
    </div>
  </div>

</div>
</div>
