<div class="platform">

  <div class="header">

    <div class="row">

      <div class="span">
       <%= gravatar_image_tag('rskelley9@gmail.com', :alt => 'Ryan Kelley', :gravatar => { :secure => true }, class: "img-polaroid" ) %>
     </div>
     <!--/photo-->

     <div class="span margin-bottom-5">
      <div class="name-text">Ryan Kelley</div>
      <div class="major-text"><i>Full Stack Web Developer</i></div>
    </div>
    <!--/name-->

    <div class="span pull-right">
      <div class="span">
        <address class="margin-bottom-5">
          2200 12th Court N.<br>
          #716<br>
          Arlington, VA 22201
        </address>
        <abbr rel="tooltip" data-original-title="Phone">Cell:</abbr>&nbsp;&nbsp;<a href="tel:860-916-7174">+1-860-916-7174</a><br>
        <abbr rel="tooltip" data-original-title="Email">Email:</abbr>&nbsp;&nbsp;<a href="mailto:rskelley9@gmail.com">rskelley9@gmail.com</a><br>
        <abbr rel="tooltip" data-original-title="Website">GitHub:</abbr>&nbsp;&nbsp;<a href="http://github.com/rskelley9">github.com/rskelley9</a><br>
        <div class="margin-top-5 margin-bottom-5">

          <a href="https://github.com/rskelley9" rel="tooltip" data-original-title="GitHub">
            <%= image_tag ("git.png"), alt:"GitHub", width:"23" %>
          </a>&nbsp;

          <a href="https://bitbucket.org/rkelley" rel="tooltip" data-original-title="Bitbucket">
            <%= image_tag ("bitbucket.png"), alt:"Bitbucket", width:"24" %>
          </a>&nbsp;

          <a href="http://lnkd.in/BBcATi" rel="tooltip" data-original-title="LinkedIn">
            <%= image_tag ("linkedin.png"), alt:"LinkedIn", width:"23" %>
          </a>&nbsp;

          <a href="http://twitter.com/ryan_s_kelley" rel="tooltip" data-original-title="Twitter">
            <%= image_tag ("twitter.png"), alt:"Twitter", width:"23" %>
          </a>&nbsp;

 <!--          <a href="https://www.facebook.com/rskelley9" rel="tooltip" data-original-title="Facebook">
            <%= image_tag ("facebook.png"), alt:"Facebook", width:"23" %>
          </a>&nbsp; -->

          <a href="https://plus.google.com/+RyanKelley" rel="tooltip" data-original-title="Google Plus">
            <%= image_tag ("googleplus.png"), alt:"Google Plus", width:"23" %>
          </a>&nbsp;

        </div>
      </div>
      <div class="span">
        <%= image_tag ("qrcode.jpg"), alt:"QR Business Card", width:"75", rel:"tooltip", :"data-original-title" =>"Save my vCard" %>
      </div>

      <a class="pdf" href="Resume/Ryan_Sullivan_Kelley3.pdf" download="Ryan_Sullivan_Kelley.pdf" target="_blank" rel="tooltip" data-original-title="Download as PDF"><%= image_tag ("pdf_icon.png"), alt:"PDF", width:"`100" %></a>

    </div>
    <!--/contacts-->

  </div>

</div><!-- /header -->