<%= render partial: "shared/resume_header" %>
<!-- /header-->

<div class="main">
  <%= render partial: "shared/objective" %>
  <!-- /objective-->

  <!-- skills -->

  <div class="seperator"></div>

  <%= render partial: "shared/skills" %>


  <!-- /education-->

  <div class="seperator"></div>

  <%= render partial: "shared/education" %>

  <div class="seperator"></div>

  <%= render partial: "shared/work_experience" %>

  <!-- work -->

  <div class="seperator"></div>

 <%= render partial: "shared/recent_projects" %>
<!-- recent projects -->

<div class="seperator"></div>

<div class="row">
  <div class="span section-title">
    Other Projects
  </div>
  <div class="span section-body">
    <ul style="list-style:none;margin-left:-10px;">
     <li style="padding-bottom:4px;"><b style="color:#2e4dbf;"><%= link_to "DBC Quora", "https://github.com/DriftingWave/DBC-Core-a"%>:</b> Application designed on Quora question/answer framework, built as DBC project</li>
     <li style="padding-bottom:4px;"><b style="color:#2e4dbf;"><%= link_to "VeloSURaptor", "https://github.com/rskelley9/VelaSURaptor" %>:</b> Web survey development application built with Sinatra</li>
     <li style="padding-bottom:4px;"><b style="color:#2e4dbf;"><a href="https://github.com/rskelley9/NewPostit">EasyStickies:</a></b> Lite jQuery plugin that adds dynamic Post-it note functionality to any web page</li>
     <li><b style="color:#2e4dbf;">SudokuSolver:</b> Command line interface program capable of solving the most difficult sudoku boards</li>
   </ul>
 </div>
</div>
<!-- /other projects-->

<div class="seperator"></div>

<div class="clearfix pull-left">
  <a class="dotted pdf-download" href="Resume/Ryan_Sullivan_Kelley3.pdf" download="Ryan_Sullivan_Kelley3.pdf" rel="tooltip" data-original-title="Download as PDF">
    <b>pdf</b>
  </a>
</div>

<div class="clearfix margin-bottom-10 pull-right">
  <a class="dotted" href="javascript:;"
  onclick="jQuery('html,body').animate({scrollTop: jQuery('.header').offset().top}, 'slow');" rel="tooltip" data-original-title="Scroll to Top"
  >
  <b>top</b>
</a>
</div>

</div> <!-- /main -->

</div> <!-- /container -->

<!-- <script src="js/jquery-1.8.2.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script> -->
  <script>
  $(document).ready(function() {
    $('[rel="tooltip"]').tooltip({trigger : 'hover'});
  })
  </script>