
<div class="platform">

  <div class="header">

    <div class="row">

      <div class="span">
       <%= gravatar_image_tag('rskelley9@gmail.com', :alt => 'Ryan Kelley', :gravatar => { :secure => true }, class: "img-polaroid" ) %>
     </div>
     <!--/photo-->

     <div class="span margin-bottom-5">
      <div class="name-text">Ryan Kelley</div>
      <div class="major-text"><i>Full Stack Web Developer</i></div>
    </div>
    <!--/name-->

    <div class="span pull-right">
      <div class="span">
        <address class="margin-bottom-5">
          2200 12th Court N.<br>
          #716<br>
          Arlington, VA 22201
        </address>
        <abbr rel="tooltip" data-original-title="Phone">P:</abbr>&nbsp;&nbsp;+1-860-916-7174<br>
        <abbr rel="tooltip" data-original-title="Email">E:</abbr>&nbsp;&nbsp;<a href="mailto:rskelley9@gmail.com">rskelley9@gmail.com</a><br>
        <abbr rel="tooltip" data-original-title="Website">G:</abbr>&nbsp;&nbsp;<a href="http://github.com/rskelley9">github.com/rskelley9</a><br>
        <div class="margin-top-5 margin-bottom-5">
          <a href="http://lnkd.in/BBcATi" rel="tooltip" data-original-title="LinkedIn"><%= image_tag ("linkedin.png"), alt:"LinkedIn", width:"20" %></a>&nbsp;
          <a href="http://twitter.com/ryan_s_kelley" rel="tooltip" data-original-title="Twitter"><%= image_tag ("twitter.png"), alt:"Twitter", width:"20" %></a>&nbsp;
          <a href="https://www.facebook.com/rskelley9" rel="tooltip" data-original-title="Facebook"><%= image_tag ("facebook.png"), alt:"Facebook", width:"20" %></a>&nbsp;
          <a href="https://plus.google.com/+RyanKelley" rel="tooltip" data-original-title="Google Plus"><%= image_tag ("googleplus.png"), alt:"Google Plus", width:"20" %></a>
        </div>
      </div>
      <div class="span">
        <%= image_tag ("qrcode.jpg"), alt:"QR Business Card", width:"75", rel:"tooltip", :"data-original-title" =>"Save my vCard" %>
      </div>

      <a class="pdf" href="Resume/Ryan_Sullivan_Kelley2.pdf" download="Ryan_Sullivan_Kelley.pdf" target="_blank" rel="tooltip" data-original-title="Download as PDF"><%= image_tag ("pdf_icon.png"), alt:"PDF", width:"`100" %></a>

    </div>
    <!--/contacts-->

  </div>

</div><!-- /header -->


<div class="main">

  <div class="row">
    <div class="span section-title">
      Objective
    </div>
    <div class="span section-body">
      I am seeking a challenging junior web development position that will help grow my skill set. I am an enthusiastic programmer striving to find my potential, and I feel rewarded when I help teammates and colleagues reach for theirs. If you offer me the opportunity to contribute to your business, I promise to repay you with my dedication and best work.
    </div>
  </div>
  <!-- /objective-->

  <!-- skills -->

  <div class="seperator"></div>

  <div class="row">
    <div class="span section-title">
      Professional Skills
    </div>

    <div class="span section-body">

      <div class="clearfix">

        <div class="subject-name">Web Development</div>
        <table>
          <tr>
            <td>
              <ul>
                <li>ActiveRecord</li>
                <li>Agile Development</li>
                <li>AngularJS, NodeJS</li>
                <li>Bootstraps</li>
                <li>CSS, HTML, Sass</li>
                <li><b>Git</b></li>
              </ul>
            </td>
            <td style="float:left;margin-left:10px;">
              <li><b>Javascript, AJAX, jQuery</b></li>
              <li>Object-Oriented Design</li>
              <li>RSpec</li>
              <li><b>Ruby on Rails</b></li>
              <li><b>Sinatra</b></li>
              <li>SQL</li>
            </td>
          </tr>
        </table>

        <div class="margin-bottom-10"></div>

        <div class="subject-name">Other Technical</div>
        <table>
          <tr>
            <td>
              <ul>
                <li>Blogging, Wordpress</li>
                <li>Database Design, Data Modeling</li>
                <li><b>Economics, Statistics</b></li>
                <li>Google Adwords, Google Analytics</li>
              </ul>
            </td>
            <td>
              <ul style="padding-left:6px;">
                <li>Gretl, Microsoft Excel, Stata</li>
                <li>News Writing</li>
                <li><b>Project Mgt: Pivotal Tracker, Trello</b></li>
                <li><b>Regression Analysis</b></li>
              </ul>
            </td>
          </tr>
        </table>

      </div>

    </div>
  </div>
  <!-- /skills-->


  <!-- /education-->

  <div class="seperator"></div>

  <div class="row">
    <div class="span section-title">
      Education
    </div>

    <div class="span section-body">

      <div class="clearfix">
        <div class="row">
          <div class="span">
            <div class="item-name">Web Application Development</div>
            <div class="item-desc">Dev Bootcamp, Chicago, IL</div>
          </div>
          <div class="item-period pull-right span">Graduated November 2013</div>
        </div>
        <div class="margin-top-10">
          <ul>
            <li>Rigorous web development immersion program; utilized a class lab setting modeled after workplace</li>
            <li>70-100 hours per week, for 12 weeks, developed countless programs</li>
            <li>Learned numerous productivity techniques including: pair  programming, code reviewing, test-driven development and managing workflow</li>
          </ul>
        </div>
      </div>

      <div class="inner-seperator"></div>

      <div class="clearfix">
        <div class="row">
          <div class="span">
            <div class="item-name">B.A. Economics</div>
            <div class="item-desc">The George Washington University, Washington, D.C.</div>
          </div>
          <div class="item-period pull-right span">Graduated May 2012</div>
        </div>
        <div class="margin-top-10">
          <ul>
            <li><b>Thesis:</b> Earned award nomination and perfect score for senior thesis, "Pitcher Productivity and the Major League Baseball Labor Market." </li>
            <li>Used OLS regression, multiple other statistical tests to support arguments</li>
            <li>Granted special access to proprietary database belonging to award winning author Tom Tango</li>
            <li>Graduated with 3.2 GPA in economics and political science</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <!-- /education-->

  <div class="seperator"></div>

  <div class="row">
    <div class="span section-title">
      Work Experience <span style="font-size:14px">(Web-Development Related)</span>
    </div>

    <div class="span section-body">

      <div class="clearfix">
        <div class="row">
          <div class="span">
            <div class="item-name">Dev Bootcamp, Chicago, IL</div>
            <div class="item-desc">Teaching Assistant</div>
          </div>
          <div class="item-period pull-right span">November 2013 - Present</div>
        </div>
        <div class="margin-top-10">
          <ul>
            <li>Help Phase 3 instructors teach students Ruby on Rails, JavaScript, Git, RSpec/testing, other topics</li>
            <li>Pair-program with students virtually and in person</li>
            <li>Give code reviews and provide actionable feedback to students on their work</li>
            <li>Coach Phase 0 boots while they complete their preperatory work</li>
            <li>Assess and report on students' progress in the program</li>
          </ul>
        </div>
      </div>

      <div class="inner-seperator"></div>

      <div class="clearfix">
        <div class="row">
          <div class="span">
            <div class="item-name">TKG, LLC, Wilmington, DE</div>
            <div class="item-desc">Account Manager</div>
          </div>
          <div class="item-period pull-right span">September 2010 – October 2012</div>
        </div>
        <div class="margin-top-10">
          <ul>
            <li>Responsible for array of online marketing duties</li>
            <li>Helped customers optimize marketing campaigns</li>
            <li>Identified and tracked key performance metrics to increase customers' returns on investments</li>
            <li>Employed skills in search marketing, client management, and promotional writing</li>
            <li>Set up lead generation forms on clients' websites</li>
            <li>Developed, monitored and optimized pay-per-click campaigns with targeting and keyword optimization strategies</li>
            <li>Created promotional sites and pages, managed social media and blog accounts</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- work -->

  <div class="seperator"></div>

  <div class="row">
    <div class="span section-title">
      Recent Projects
    </div>

    <div class="span section-body">

      <div class="clearfix">
        <div class="row">
          <div class="span">
            <div class="item-name"><%= link_to "Karma Grove","https://github.com/joshuamantras/karmagrove"%></div>
          </div>
          <div class="item-period pull-right span">November 2013 - January 2014</div>
        </div>
        <div class="margin-top-10">
          <ul>
            <li>Second lead developer and major contributor of charitable marketplace proof-of-concept application</li>
            <li>Wrote software directing sales profit to environmental charities selected by consumer and producer</li>
            <li>Designed user interface and authored About page content</li>
            <div class="item-desc">Technologies Used: Ruby on Rails, Javascript (jQuery, AJAX), Active Admin, Bootstraps, Devise, Factory Girl,  Git, Heroku, OAuth, Pivotal Tracker, RSpec, Stripe</div>
          </ul>
        </div>
      </div>

      <div class="inner-seperator"></div>

      <div class="clearfix">
        <div class="row">
          <div class="span">
            <div class="item-name"><%= link_to "SmartGroups", "https://github.com/zrivest/smart_groups" %></div>
          </div>
          <div class="item-period pull-right span">November 2013</div>
        </div>
        <div class="margin-top-10">
          <ul>
            <li>Teacher toolkit application: uploads CSV grade books and offers array of useful functions</li>
            <li>Interactive graphs (High Charts) for tracking student performance over time, vs. peers, vs. class</li>
            <li>Intelligent group generator with algorithms for GPA dispersion, participation rate dispersion</li>
            <li>Designed workflow to deal with strict, high-pressure deadline</li>
            <li>Formal presentation to audience of representatives from Chicago-area tech companies</li>
            <div class="item-desc">Technologies Used: Ruby on Rails, Javascript (jQuery, AJAX), APIs, BCrypt, Bootstraps, CSV, Git, Heroku HighCharts, Open URI, RSpec, SQL Designer, Trello</div>
          </ul>
        </div>
      </div>

      <div class="inner-seperator"></div>

      <div class="clearfix">
        <div class="row">
          <div class="span">
            <div class="item-name"><%= link_to "SRH Photo","https://github.com/rskelley9/SRH_Photo" %></div>
          </div>
          <div class="item-period pull-right span">January 2014 - Present</div>
        </div>
        <div class="margin-top-10">
          <ul>
            <li>Solo developer of photography e-commerce website</li>
            <li>Designed customer inquiry/quote process and integrated secure payment system</li>
            <li>Blog post widget using RSS library that displays recent headlines</li>
            <div class="item-desc">Technologies Used: Ruby on Rails, Javascript (jQuery, AJAX), Active Admin, Bootstraps, Devise, Git, Google Analytics, RSS, RSpec, Stripe, SQL Designer, Trello</div>
          </ul>
        </div>
      </div>

      <div class="inner-seperator"></div>

      <div class="clearfix">
        <div class="row">
          <div class="span">
            <div class="item-name"><%= link_to "DBC Quora", "https://github.com/DriftingWave/DBC-Core-a"%></div>
          </div>
          <div class="item-period pull-right span">October 2013</div>
        </div>
        <div class="margin-top-10">
          <ul>
            <li>Application designed on Quora question/answer framework; subject matter is DBC-related</li>
            <li>Responsible for voting, topic tracking functionality, authentication, schema and set-up database</li>
            <li>SCRUM exercise where developer team roster was changed; simulated customer demands</li>
            <div class="item-desc">Technologies Used: Ruby on Rails, Javascript (jQuery, AJAX), BCrypt, Capybara, Factory Girl, Git, RSpec, Pivotal Tracker</div>
          </ul>
        </div>
      </div>

      <div class="inner-seperator"></div>

      <div class="clearfix">
        <div class="row">
          <div class="span">
            <div class="item-name"><%= link_to "VeloSURaptor", "https://github.com/rskelley9/VelaSURaptor" %></div>
          </div>
          <div class="item-period pull-right span">September 2013</div>
        </div>
        <div class="margin-top-10">
          <ul>
            <li>Web survey development application with results tracking and analyzing functionality</li>
            <li>Complex authentication system and client-side JS form validations</li>
            <li>Asynchronous design allows user to dynamically update/organize surveys</li>
            <div class="item-desc">Technologies Used: Ruby, Sinatra, Javascript (jQuery, AJAX), Git, Google Chart API, Sinatra Sessions, SQL Designer</div>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!-- recent projects -->

  <div class="seperator"></div>

  <div class="row">
    <div class="span section-title">
      Other Projects
    </div>
    <div class="span section-body">
      <ul style="list-style:none;margin-left:-10px;">
        <li style="padding-bottom:4px;"><b style="color:#2e4dbf;">WebFlashcards:</b> Accepts flashcard deck files, offers user inviting interface and asynchronous testing</li>
        <li><b style="color:#2e4dbf;">SudokuSolver:</b> Command line interface program capable of solving the most difficult sudoku boards</li>
        <li><b style="color:#2e4dbf;"><a href="https://github.com/rskelley9/NewPostit">EasyStickies:</a></b> Lite jQuery plugin that adds Post-it note functionality to any web page</li>
      </ul>
    </div>
  </div>
  <!-- /other projects-->

  <div class="seperator"></div>

  <div class="clearfix pull-left">
    <a class="dotted pdf-download" href="Resume/Ryan_Sullivan_Kelley2.pdf" download="Ryan_Sullivan_Kelley.pdf">
      <b>pdf</b>
    </a>
  </div>

  <div class="clearfix margin-bottom-10 pull-right">
    <a class="dotted" href="javascript:;"
    onclick="jQuery('html,body').animate({scrollTop: jQuery('.header').offset().top}, 'slow');"
    >
    <b>top</b>
  </a>
</div>

</div> <!-- /main -->

</div> <!-- /container -->

<!-- <script src="js/jquery-1.8.2.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script> -->
<script>
$(document).ready(function() {
  $('[rel="tooltip"]').tooltip({trigger : 'hover'});
})
</script>